@keyframes rainbow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

body {
  background-color: #ff4500;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    #41c903,
    #2ac3fc,
    #0000ff,
    #5630c3
  );
  animation: rainbow 30s linear alternate infinite;
  background-size: 3000% 100%;
  margin: 10px;
}

noscript h1 {
  text-align: center;
}

label {
  display: none;
}

label[for="left-textarea"] {
  float: left;
}

label[for="right-textarea"] {
  float: right;
}

.buttons-bar {
  width: calc(100% - 14px);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0 5px 10px;
  border: 2px solid rgba(211, 211, 211, 0.9);
  background-color: rgba(255, 255, 255, 0.9);
}

.buttons-bar span {
  color: gray;
  font-family: "Open Sans", Arial, "Helvetica Neue", sans-serif;
}

.buttons-bar button {
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(128, 128, 128, 0.9);
  padding: 5px;
}

.buttons-bar button:hover {
  cursor: pointer;
  background: #d3d3d3;
}

address {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.author {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(211, 211, 211, 0.9);
  color: gray;
  padding: 5px;
  font-size: 18px;
  font-family: "Open Sans", Arial, "Helvetica Neue", sans-serif;
  text-decoration: none;
}

.area-wrapper {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.area-wrapper textarea {
  tab-size: 2;
  background-color: rgba(255, 255, 255, 0.95);
  border: 2px solid rgba(211, 211, 211, 0.95);
  font-family: Consolas, "Courier New", monospace;
  font-size: medium;
  padding: 10px;
  resize: vertical;
  caret-color: rgba(135, 207, 235, 0.95);
  width: calc(50% - 30px);
  min-height: 135px;
  height: 53.8vh;
}

::selection {
  background-color: rgba(132, 204, 249, 0.9);
}

button:focus,
.author:focus,
textarea:focus {
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.9);
}

button:focus,
textarea:focus {
  background-color: white;
}

#left-textarea {
  float: left;
}

#right-textarea {
  float: right;
}

.clearfix {
  clear: both;
}

header {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(211, 211, 211, 0.9);
}

header h3,
header h4 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.info {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(211, 211, 211, 0.9);
}

.left-margin_1lvl {
  font-weight: bold;
  margin-left: 25px;
}

.info p:first-child {
  margin-top: 10px;
  margin-bottom: 10px;
}

.left-margin_2lvl {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
}

.info p {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  padding: 10px;
}

.code-wrap {
  display: inline;
  font-family: Consolas, "Courier New", monospace !important;
  background-color: rgba(135, 206, 250, 0.6);
  color: black;
  padding: 3px;
}
